


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

/* NAVBAR */
.nav-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
    padding: 0 30px;
    background-color: #c7e6f4;
    box-shadow: 0 10px 13px #d7eef8;
    width: 95%;
    height: 60px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: end;
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #1c4456;
    padding: 0.2rem 0.8rem;
    white-space: nowrap;
    
}

.nav-link:hover {
    background: #1c4456;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    color: white;
}

.nav-icon{
    padding-right: 5px;
    position: relative;
    top: 4px;
    font-size: 1.2rem;
    
}

.nav-link-register{
    color: white;
    text-decoration: none;
    font-weight: 700;
    background: #1c4456;
    padding: 0.4rem 1.4rem;
    border-radius: 9px;
    position: absolute;
    left: 86%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-link-register:hover{
    color: #1c4456;
    background: #d7eef8;
    border: 2px solid #1c4456;
}



/* Header Menu Hamburger Icon */
.menu-bars{
    color: #1c4456;
    cursor: pointer;
}

.menu-icons{
    display: none;
}

/* Responsive Header Navbar */

@media screen and (max-width:850px) {

    .nav-bar{

        z-index: 99;
        background: #1c4456;

    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #1c4456;
        box-shadow: 0 8px 30px #c7e6f4;
        padding-top: 15px;
        border-radius: 13px;
        padding-top: 3.5rem;
        
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 8 30px 0;
        margin: 0;
        z-index: -1;
        color: white;
        transition: all 0.3s ease-in-out;
    }

    .nav-menu.active{
        left: 0%;
    }

    .nav-link{
        display: block;
        widows: 100%;
        padding: 1rem 0;
        color: white;

    }
    .nav-link:hover{
        background: #c7e6f4;
        color: #1c4456;

    }

    .menu-icons{
        display: block;
        color: white;
        position: absolute;
        left: 90%;
        
        
    }
    .menu-bars{
        color: white;
        cursor: pointer;
    }
    
}





/* FOOTER */
footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}
